<div class="slide-list-container">
    <slide-header [slideHeader]="showSlide.slideHeader" (posterHeaderShowMore)="headerMore($event)"></slide-header>
    <div class="slide-view">
        <ul class="slides" [style.width.px]="slideViewsWidth" [style.left.px]="slideLocationX"
            (mousedown)="onMouseDown($event)"
            (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp()"
            (mouseout)="onMouseOut()">
            <li class="slide-item" *ngFor="let poster of posterList">
                <playbill-poster [posterMask]="poster.posterMask" [poster]="poster"
                                 [adaptiveImages]="adaptiveImages"
                                 (onPosterClick)="showMoreDetail($event)"></playbill-poster>
            </li>
        </ul>
    </div>
    <slide-arrows (movePoster)="moveIndex($event)"></slide-arrows>
</div>