@import "../../sdk/styles/sdk_varibles";

.slide-list-container {
    width: 100%;
    margin-bottom: 44px;
    position: relative;
    &:hover {
        .slide-arrow-container {
            @include animation(opacity, $standard_curve, $ENTERING);
            opacity: 1;
        }
    }

    .slide-view {
        overflow: hidden;
        .slides {
            position: relative;
            float: left;
            .slide-item {
                float: left;
                margin-right: 15px;
                position: relative;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .animated{
            @include animation(left, $standard_curve, $ENTERING);
        }
    }

}