@import "../../sdk/styles/sdk_varibles";
@import "../../sdk/styles/sdk_color";
@import "../../sdk/styles/sdk_fonts";
@import "../../sdk/styles/sdk_elevation";

:host {
    display: block;
}

.header-more {
    position: fixed;
    top: 56px;
    z-index: 9;
    width: 100%;
    height: 100%;
    left: 0;
    .header-menu-list {
        position: relative;
        left: 0;
        min-height: 230px;
        background: rgba(map_get($GREY, A100), 0.8);
        @include elevation(6);
        .menu-parent-wrap {
            height: 100%;
            position: relative;
            float: left;
            min-width: 600px;
            left: 50%;
            transform: translateX(-50%);
            .menu-main {
                float: left;
                width: calc(100% / 4);
                text-align: center;
                cursor: pointer;
                .main-title {
                    border-bottom: 1px solid rgba(map_get($GREY, 400), 1);
                    display: inline-block;
                    width: 90%;
                    @include animation(background, $standard_curve, $ENTERING);
                    &:hover {
                        background: rgba(map_get($GREY, 50), 0.1);
                    }
                }
            }
            .menu-sub {
                .submenu-title {
                    .sub-title {
                        cursor: pointer;
                        display: inline-block;
                        width: 100%;
                        margin: 0;
                        @include animation(background, $standard_curve, $ENTERING);
                        &:hover {
                            background: rgba(map_get($GREY, 50), 0.1);
                        }
                    }
                }
            }
        }
    }
    .header-more-curtain {
        position: relative;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(map_get($GREY, A100), .4);
        z-index: 1;
    }
}