<div class="header-more">
    <div class="header-menu-list">
        <ul class="menu-parent-wrap">
            <li class="menu-main" *ngFor="let menu of _menuList">
                <a class="main-title mat-title" md-button
                   (click)="jumpAddress(menu.menuUrl)">{{menu.menuTitle}}</a>
                <ul class="menu-sub">
                    <li *ngFor="let subMenu of menu.subMenuList" class="submenu-title">
                        <a class="sub-title mat-subheading-1" md-button (click)="jumpAddress(subMenu.menuUrl)">{{subMenu.menuTitle}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="header-more-curtain" (click)="showMore()"></div>
</div>