@import "../../sdk/styles/sdk_varibles";
@import "../../sdk/styles/sdk_fonts";
@import "../../sdk/styles/sdk_elevation";
@import "../../sdk/styles/sdk_color";

@mixin calc {
    width: calc(100% - 16px);
}

.playbill-poster-container {
    display: inline-block;
    .playbill-poster-images {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
            @include animation(box-shadow, $standard_curve, $ENTERING);
            @include elevation(10);
        }
        .poster-default {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            position: absolute;
            background-color: map_get($GREY, A100);
            .poster-icons {
                font-size: 70px;
                top: 50%;
                position: relative;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1;
            }
        }
        .poster-images {
            opacity: 0;
            width: 100%;
            border-radius: 4px;
            @include animation(opacity, $standard_curve, $ENTERING);
        }
        .adaptive-images {
            opacity: 0;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            @include animation(opacity, $standard_curve, $ENTERING);
        }
        .poster-mask {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(images-url("mask", "ic_hub_mask_228_322.png")) no-repeat center;
            background-size: 100% 100%;
            color: map_get($GREY, 300);
            border-radius: 2px;
            z-index: 1;
            .poster-rating {
                position: absolute;
                text-align: right;
                bottom: 0;
                @include calc;
                padding-right: 16px;
                margin: 0 0 9px;
            }
            .poster-title {
                position: absolute;
                word-wrap: break-word;
                text-transform: uppercase;
                bottom: 0;
                padding-left: 16px;
                @include calc;
                white-space: nowrap;
                -webkit-mask-image: -webkit-gradient(linear, 80% 100%, right 80%, from(map_get($GREY, 900)), to(transparent));
            }
            .poster-genres {
                position: absolute;
                padding-left: 16px;
                bottom: 0;
                margin-bottom: 137px;
                @include calc;
                &:after {
                    width: 20px;
                    height: 2px;
                    position: absolute;
                    top: 32px;
                    left: 20px;
                    content: "";
                    background: map_get($GREY, 300);
                }
            }
            .poster-duration {
                position: absolute;
                bottom: 0;
                @include calc;
                padding-left: 16px;
                margin: 0 0 9px;
            }
        }
    }
    .text-container {
        cursor: pointer;
        .poster-title {
            color: map_get($GREY, 300);
            margin: 0;
            white-space: nowrap;
            -webkit-mask-image: -webkit-gradient(linear, 80% 100%, right 80%, from(map_get($GREY, 900)), to(transparent));
        }
        .poster-subtitle {
            white-space: nowrap;
            margin: 0;
            -webkit-mask-image: -webkit-gradient(linear, 80% 100%, right 80%, from(map_get($GREY, 900)), to(transparent));
        }
    }
}