<div class="playbill-poster-container" (click)="detailMore($event,poster.id)">
    <div class="playbill-poster-images" [ngStyle]="poster" [attr.title]="poster.posterTitle">
        <div class="poster-default">
            <i class="poster-icons md-48 material-icons">movie</i>
        </div>
        <img src="" alt="" [attr.src]="poster.posterUrl" class="poster-images"
             [ngClass]="{'adaptive-images':adaptiveImages}" onerror="this.style.opacity=0"
             onload="this.style.opacity=1">
        <div class="poster-mask">
            <div class="poster-genres mat-title" *ngIf="!!posterMask.genres">{{posterMask.genres}}</div>
            <div class="poster-title mat-display-3" *ngIf="!!posterMask.title">{{posterMask.title}}</div>
            <div class="poster-duration mat-h2" *ngIf="!!posterMask.duration">{{posterMask.duration}}</div>
            <div class="poster-rating mat-h2" *ngIf="!!posterMask.rating">{{posterMask.rating}}</div>
        </div>
    </div>
    <div class="text-container" *ngIf="isPosterTextContainer" [ngStyle]="{width:poster.width}">
        <div class="poster-title mat-h2" [attr.title]="poster.posterTitle">{{poster.posterTitle}}</div>
        <div class="poster-subtitle mat-h3" [attr.title]="poster.posterSubtitle">{{poster.posterSubtitle}}</div>
    </div>
</div>