/*
基于material-ui的调色板
 */

$RED: (
        50: #ffebee,
        100: #ffcdd2,
        200: #ef9a9a,
        300: #e57373,
        400: #ef5350,
        500: #f44336,
        600: #e53935,
        700: #d32f2f,
        800: #c62828,
        900: #b71c1c,
        A100: #ff8a80,
        A200: #ff5252,
        A400: #ff1744,
        A700: #d5000
);

$PINK: (
        50 :#fce4ec,
        100: #f8bbd0,
        200: #f48fb1,
        300: #f06292,
        400: #ec407a,
        500: #e91e63,
        600: #d81b60,
        700: #c2185b,
        800: #ad1457,
        900: #880e4f,
        A100: #ff80ab,
        A200: #ff4081,
        A400: #f50057,
        A700: #c51162
);
$INDIGO: (
        50: #e8eaf6,
        100: #c5cae9,
        200: #9fa8da,
        300: #7986cb,
        400: #5c6bc0,
        500: #3f51b5,
        600: #3949ab,
        700: #303f9f,
        800: #283593,
        900: #1a237e,
        A100: #8c9eff,
        A200: #536dfe,
        A400: #3d5afe,
        A700: #304ffe
);
$BLUE: (
        50: #e3f2fd,
        100: #bbdefb,
        200: #90caf9,
        300: #64b5f6,
        400: #42a5f5,
        500: #2196f3,
        600: #1e88e5,
        700: #1976d2,
        800: #1565c0,
        900: #0d47a1,
        A100: #82b1ff,
        A200: #448aff,
        A400: #2979ff
);
$LIGHT_BLUE: (
        50: #e1f5fe,
        100: #b3e5fc,
        200: #81d4fa,
        300: #4fc3f7,
        400: #29b6f6,
        500: #03a9f4,
        600: #039be5,
        700: #0288d1,
        800: #0277bd,
        900: #01579b,
        A100: #80d8ff,
        A200: #40c4ff,
        A400: #00b0ff,
        A700: #0091ea
);
$GREY: (
        50: #fafafa,
        100: #f5f5f5,
        200: #eeeeee,
        300: #e0e0e0,
        400: #bdbdbd,
        500: #9e9e9e,
        600: #757575,
        700: #616161,
        800: #424242,
        900: #212121,
        A100:#0a0a0a
);
$BLUE_GREY: (
        50:#ECEFF1,
        100:#CFD8DC,
        200:#B0BEC5,
        300:#90A4AE,
        400:#78909C,
        500:#607D8B,
        600:#546E7A,
        700:#455A64,
        800:#37474F,
        900:#263238
);
$YELLOW: (
        50 :#fffde7,
        100 :#fff9c4,
        200 :#fff59d,
        300 :#fff176,
        400 :#ffee58,
        500 :#caad2d,
        600 :#fdd835,
        700 :#fbc02d,
        800 :#f9a825,
        900 :#f57f17,
        A100 :#ffff8d,
        A200 :#ffff00,
        A400 :#ffea00,
        A700 :#ffd600
)