@import "../../../sdk/styles/sdk_color";
@import "../../../sdk/styles/sdk_fonts";
@import "../../../sdk/styles/sdk_varibles";

.slide-header-container {
    width: 100%;
    .slide-content {
        cursor: pointer;
        display: inline-block;
        @include animation(opacity, $standard_curve, $ENTERING);
        &:hover {
            opacity: .7;
        }
        .slide-header-title {
            color: map_get($GREY, 300);
            float: left;
            margin: 0 0 9px;
        }
        .slide-header-more {
            position: relative;
            top: 2px;
            float: left;
            margin: 0 0 9px;
            width: 32px;
            height: 32px;
        }
    }
}