//cubic-bezier(0.25, 0.8, 0.25, 1);
/*
屏幕范围内的移动
在屏幕界限内的两点之间的元素的运动遵循自然的凹弧。所有屏幕上的动作均使用 标准曲线。

标准曲线,一般用户屏幕范围内的移动
当对角线向上移动时，以浅的上升开始，以陡峭的上升结束，向上弧
当对角线向下移动时，下降应开始陡峭，并且浅浅地结束。向下弧
保持单轴运动的路径直线。保持单线的，
进入和离开屏幕的元素也沿单轴移动。
相对运动
标准曲线
 */
$standard_curve: cubic-bezier(0.4, 0.0, 0.2, 1);
/*
移动进出屏幕范围
进入屏幕使用减速
减速曲线
 */
$deceleration_curve: cubic-bezier(0.0, 0.0, 0.2, 1);
/*
永久离开屏幕
加速曲线
 */
$acceleration_curve: cubic-bezier(0.4, 0.0, 1, 1);
/*
临时离开屏幕
尖锐曲线
 */
$sharp_curve: cubic-bezier(0.4, 0.0, 0.6, 1);

$normal_duration: 225ms;

$COMPLEX: 375ms;
$ENTERING: 225ms;
$EXITING: 195ms;

@mixin animation($selector,$curve,$durations) {
    transition: $selector $curve $durations;
    -moz-transition: $selector $curve $durations;
    -webkit-transition: $selector $curve $durations;
    -o-transition: $selector $curve $durations;
}

@mixin user-select($value) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transform($value) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}

@function images-url($file-name,$icon-name) {
    @return '/assets/img/'+$file-name+'/'+$icon-name;
}

