@import "../../sdk/styles/sdk_varibles";
@import "../../sdk/styles/sdk_elevation";

$mat-icon-button-line-height: 24px !default;
$padding: 10px;
$mat-button-margin: 0 !default;
$mat-button-min-width: 88px !default;
$mat-button-line-height: 36px !default;
$mat-button-border-radius: 2px !default;
$mat-button-padding: 0 16px !default;

@mixin button-reset {
    @include user-select(none);
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

%mat-button-base {
    box-sizing: border-box;
    position: relative;
    @include button-reset();
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    // Sizing.
    margin: $mat-button-margin;
    min-width: $mat-button-min-width;
    line-height: $mat-button-line-height;
    padding: $mat-button-padding;
    border-radius: $mat-button-border-radius;

    &[disabled] {
        cursor: default;
    }
}

%mat-raised-button {
    @extend %mat-button-base;
    @include elevation(2);
    transform: translate3d(0, 0, 0);
}

.button-wrapper {
    padding: $padding 0;
    display: inline-block;
    line-height: $mat-icon-button-line-height;
    @extend %mat-raised-button;
}

.button-ripple-round {
    border-radius: 50%;
    z-index: 1;
}