@mixin mat-fill {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

$mat-icon-button-line-height: 24px !default;
$padding: 10px;
.button-wrapper {
    padding: $padding 0;
    display: inline-block;
    line-height: $mat-icon-button-line-height;
}