<!--<playbill-poster [poster]="poster" [posterMask]="posterMask" [adaptiveImages]="false"></playbill-poster>-->

<!--<slide-list [showSlide]="slides" [types]="posterTypes1" [multipleMove]="2"></slide-list>-->

<!--<slide-list [showSlide]="slides" [types]="posterTypes" [multipleMove]="6"></slide-list>-->

<!--<slide-list [showSlide]="slides" [types]="posterTypes2" [multipleMove]="4" (onShowMore)="headerMore1($event)"-->
            <!--(onPoster)="posterMore($event)"></slide-list>-->

<button md-button>click me</button>
<i class="material-icons md-36">face</i>

