<div class="home-component">
    朝辞白帝彩云间
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
</div>
<div class="container text-center">
    <btn class="btn btn-default ripple btn-lg">Button</btn>
    <btn class="btn btn-default ripple btn-lg">Button with very long content</btn>
</div>

<div class="container" ripple>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid atque cumque dolores eligendi est et facere laborum perspiciatis possimus quas quos repellat reprehenderit saepe, velit veniam, voluptatem voluptatum. Et.
</div>